<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Наименование дополнительных надбавок</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
<div class="container">
    <div class="div-create">
        <form name="createAddPayType" action="#" method="post">
            <div>Наименование группы надбавок</div>
            <input type="text" name="addPayTypeName" class="add-pay-type-name" autocomplete="off" required>
            <br>
            <br>
            <button type="submit">Сохранить</button>
        </form>
    </div>
    <div class="div-table">
        <div class="div-table-heading">
            <div class="div-table-row-head">
                <div class="div-table-head">Наименование группы надбавок</div>
                <div class="div-table-head">Изменить</div>
            </div>
        </div>
        <div class="div-table-body">
        </div>
    </div>
</div>
</body>
<script src="../js/functions.js"></script>
<script src="../js/add_pay_type.js"></script>
</html>