<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Базовые нормы</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
<div class="container">
    <div class="div-create">
        <form name="createBasicNorm" action="#" method="post">
            <div>Название базовой нормы</div>
            <input type="text" name="basicNormName" class="basic-norm-name" autocomplete="off" required>
            <div>Значение базовой нормы</div>
            <input type="text" name="basicNormValue" class="basic-norm-value" autocomplete="off" required>
            <div>Дата начала действия</div>
            <input type="date" name="basicNormDate" class="basic-norm-date" autocomplete="off" required>
            <br>
            <br>
            <button type="submit">Сохранить</button>
        </form>
    </div>
    <div class="div-table">
        <div class="div-table-heading">
            <div class="div-table-row-head">
                <div class="div-table-head">Название базовой нормы</div>
                <div class="div-table-head">Значение базовой нормы</div>
                <div class="div-table-head">Дата начала действия</div>
                <div class="div-table-head">Изменить</div>
                <div class="div-table-head">Удалить</div>
            </div>
        </div>
        <div class="div-table-body">
        </div>
    </div>
</div>
</body>
<script src="../js/functions.js"></script>
<script src="../js/basic_norms.js"></script>
</html>