<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Настройки для расчета</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
<div class="container">
    <div class="div-create">
        <form name="createCalcSettings" action="#" method="post">
            <div>Дата текущего расчета</div>
            <input type="date" name="calcDate" class="calc-date" autocomplete="off" required>
            <div>Рабочие дни в месяце</div>
            <input type="number" name="workingDays" class="working-days" autocomplete="off" required>
            <br>
            <br>
            <button type="submit">Сохранить</button>
        </form>
    </div>
    <div class="div-table">
        <div class="div-table-heading">
            <div class="div-table-row-head">
                <div class="div-table-head">Дата расчета</div>
                <div class="div-table-head">Рабочие дни в месяце</div>
                <div class="div-table-head">Изменить</div>
                <div class="div-table-head">Удалить</div>
            </div>
        </div>
        <div class="div-table-body">
        </div>
    </div>
</div>
</body>
<script src="../js/functions.js"></script>
<script src="../js/calc_settings.js"></script>
</html>