<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сотрудники</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
<div class="container">
    <div class="div-create">
        <form name="createPerson" action="#" method="post">
            <div>Фамилия</div>
            <input type="text" name="surName" class="sur-name" required>
            <div>Имя</div>
            <input type="text" name="firstName" class="first-name" required>
            <div>Отчество</div>
            <input type="text" name="patronymic" class="patronymic" required>
            <div>Адрес</div>
            <input type="text" name="address" class="address" required>
            <div>Номер телефона</div>
            <input type="text" name="phoneNumber" class="phone-number" required>
            <div>Табельный номер</div>
            <input type="text" name="personnelNumber" class="personnel-number">
            <br>
            <br>
            <button type="submit">Сохранить</button>
        </form>
    </div>
    <div class="div-table">
        <div class="div-table-heading">
            <div class="div-table-row-head">
                <div class="div-table-head">ФИО</div>
                <div class="div-table-head">Адрес</div>
                <div class="div-table-head">Номер телефона</div>
                <div class="div-table-head">Таб. номер</div>
                <div class="div-table-head">Изменить</div>
                <div class="div-table-head">Удалить</div>
            </div>
        </div>
        <div class="div-table-body">
        </div>
    </div>
</div>
</body>
<script src="../js/functions.js"></script>
<script src="../js/people.js"></script>
</html>