<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Должности</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
<div class="container">
    <div class="divCreate">
        <form name="createPosition" action="#" method="post">
            <div>Наименование должности</div>
            <input type="text" name="positionName" class="positionName" required>
            <div>Номер сортировки</div>
            <input type="number" name="sorting" class="sorting" required>
            <br>
            <br>
            <button type="submit">Сохранить</button>
        </form>
    </div>
    <div class="divTable">
        <div class="divTableHeading">
            <div class="divTableRowHead">
                <div class="divTableHead">Наименование должности</div>
                <div class="divTableHead">Номер сортировки</div>
                <div class="divTableHead">Изменить</div>
                <div class="divTableHead">Удалить</div>
            </div>
        </div>
        <div class="divTableBody">
        </div>
    </div>
</div>
</body>
<script src="../js/position.js"></script>
</html>