<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Штатное расписание</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
<div class="container">
    <div class="div-create">
        <form name="createStaffList" action="#" method="post">
            <div>ФИО</div>
            <select class="people" id="selectPeopleId" required>
            </select>
            <div>Должность</div>
            <select class="position" id="selectPositionId" required>
            </select>
            <div>Оклад</div>
            <input type="text" name="salary" class="salary" required>
            <div>Молодой специалист</div>
            <input type="checkbox" name="youngSpecial" class="young-special">
            <div>Активен</div>
            <input type="checkbox" name="disabled" class="disabled">
            <br>
            <br>
            <button type="submit">Сохранить</button>
        </form>
    </div>
    <div class="div-table">
        <div class="div-table-heading">
            <div class="div-table-row-head">
                <div class="div-table-head">ФИО</div>
                <div class="div-table-head">Должность</div>
                <div class="div-table-head">Оклад</div>
                <div class="div-table-head">Мол. спец.</div>
                <div class="div-table-head">Работал</div>
                <div class="div-table-head">Изменить</div>
                <div class="div-table-head">Удалить</div>
            </div>
        </div>
        <div class="div-table-body">
        </div>
    </div>
</div>
</body>
<script src="../js/staff_list.js"></script>
</html>