<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="divCreate">
    <form name="createPerson" action="#" method="post">
        <div>Сотрудники</div>
        <input type="text" name="surName" required>
        <div>Должности</div>
        <input type="text" name="firstName" required>
        <div>Зарплата</div>
        <input type="text" name="patronymic" required>
        <div>Адрес</div>
        <input type="text" name="address" required>
        <div>Номер телефона</div>
        <input type="text" name="phoneNumber" required>
        <div>Табельный номер</div>
        <input type="text" name="personnelNumber">
        <br>
        <br>
        <button type="submit">Сохранить</button>
    </form>
</div>
</body>
</html>