<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Табель рабочего времени</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/select2.min.css">
</head>
<body>
<div class="container">
    <div class="div-create">
        <form name="createTimeSheet" action="#" method="post">
            <div>ФИО</div>
            <select class="js-example-basic-single" style="width: 250px" id="selectPeopleId" name="state" required>
            </select>
            <br>
            <div>Отработано дней</div>
            <input type="number" name="actualDaysWorked" class="actual-days-worked" autocomplete="off" required>
            <br>
            <br>
            <br>
            <button type="submit">Сохранить</button>
        </form>
        <br>
        <button class="select-all"> Показать всех</button>
        <br>
        <br>
        <button class="select-active-people"> Показать работающих</button>
        <br>
        <br>
        <button class="save-edit-day"> Сохранить изменения</button>
        <br>
        <br>
    </div>
    <div class="div-table">
        <div class="div-table-heading">
            <div class="div-table-row-head">
                <div class="div-table-head">ФИО</div>
                <div class="div-table-head">Дата расчета</div>
                <div class="div-table-head">Отработано дней</div>
                <div class="div-table-head">Изменить</div>
                <div class="div-table-head">Удалить</div>
            </div>
        </div>
        <div class="div-table-body">
        </div>
    </div>
</div>
</body>
<script src="../js/jquerymin.js"></script>
<script src="../js/select2.min.js"></script>
<script src="../js/functions.js"></script>
<script src="../js/time_sheet.js"></script>
</html>