#list {
    /* По левому краю выравниваю! */
    float: left;
    /* Отступ. */
    /*margin-bottom: 10px;*/
    /* Задаю ширину. */
    width: 100%;
    /* Убираю маркеры*/
    list-style: none;
    /* Шрифт — жирным*/
    font-weight: bold;
}

#list li {
    /* Выравнивание! */
    float: left;
    /* Делаю элементы блочными. */
    display: block;
    /* Отступ. */
    margin-right: 10px;
    /* Позиционирование относительно исходного места! */
    position: relative;
}

#list li a {
    /* Цвет бэкграунда. */
    background: #333;
    /* Делаю элементы блочными. */
    display: block;
    /* Отступы. */
    padding: 5px;
    /* Цвет ссылки. */
    color: #fff;
    /* Форматирование текста*/
    text-decoration: none;
    /* Задаю скругленные углы на 2 пиксела*/
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    /* Тень для визуальной приподнятости текста*/
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.74);
}

#list li a:hover {
    /* Подчеркну ссылку при наведении*/
    text-decoration: underline;
    /* Задам фон. */
    background: #6b0c33;
    /* Цвет ссылки остается прежним*/
    color: #fff;
    background: rgba(108, 13, 53, 0.74); /* Заставляю выглядеть полупрозрачным! */
}

/* НАСТРАИВАЕМ ВЫПАДАЮЩИЕ ЭЛЕМЕНТЫ!!! */
#list ul {
    /* Убираю маркеры у выпадающего списка*/
    list-style: none;
    left: -9999px; /* Убираю ненужно за пределы экрана (говорят, это на 95% лучше чем «display:none;», т.к. дисплей нон некоторые программы игнорируют). */
    opacity: 0; /* При помощи прозрачности, скрываем <ul>. */
    /* Делаем так, чтобы Webkit плавно показывал нам всплывающие элементы выпадающего списка при наведении мышки. */
    -webkit-transition: 0.24s linear opacity;
    position: absolute;
}

#list ul li {
    /* Здесь я задаю отступ между элементами &lt;li&gt;. Это необходимо для разделения пунктов меню, его не было в предыдущей части статьи (просто забыл)*/
    padding-top: 1px;
    float: none;
}

#list ul a {
    /* Делаю элементы блочными. */
    display: block;
    /* Запрещаю перенос строк текста на новую строку, чтобы создавался многострочный выпадающий элемент списка. */
    white-space: nowrap;
}

#list li:hover ul { /* Создаю выпадающий пункт, который появится при наведении. */
    left: -40px; /* Возвращаю его обратно на экран пользователя, — когда нужно. */
    opacity: 1; /* Убираю прозрачность*/
}

#list li:hover a { /* В этом стиле я устанавливаю свойства для элементов верхнего уровня, — в то время, когда показывается выпадающий список. */
    /* Подчеркну*/
    text-decoration: underline;
    /* Сделаю полупрозрачным. */
    background: rgba(109, 15, 53, 0.74);
    background: #6b0c36;
}

#list li:hover ul a { /* Поменял некоторые стили первого уровня при появлении выпадающего элемента. */
    /* Уберу форматирование*/
    text-decoration: none;
    -webkit-transition: -webkit-transform 0.077s linear;
}

#list li:hover ul li a:hover { /* Здесь я задаю стили для конкретных выпадающих пунктов, при наведении на них курсора — чтобы они отличались от тех элементов, куда курсор не попадает*/
    -moz-transform: scale(1.07);
    -webkit-transform: scale(1.07);
    /* Задам цвет фона выпадающего элемента*/
    background: #334;
    background: rgba(50, 50, 50, 0.74); /* Сделаю полупрозрачным. */
    text-decoration: underline;
}